<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_Invent" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50162/InventService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Invent"
                contract="Invent" name="BasicHttpBinding_Invent" />
        </client>
    </system.serviceModel>
</configuration>