<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  <system.serviceModel>
    <bindings>
      <wsDualHttpBinding>
        <binding name="duplexendpoint" />
      </wsDualHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:51730/CalculatorService.svc"
          binding="wsDualHttpBinding" bindingConfiguration="duplexendpoint"
          contract="ICalculatorDuplex" name="duplexendpoint">
        <identity>
          <userPrincipalName value="DESKTOP-0T4D0NP\seran" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>