<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="WCFSecurity.SecurityService">
        <endpoint address="" 
                  behaviorConfiguration="WCFSecurity.SecurityServiceAspNetAjaxBehavior" 
                  binding="webHttpBinding" 
                  contract="WCFSecurity.ISecurity" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="WCFSecurity.SecurityServiceAspNetAjaxBehavior">
          <webHttp automaticFormatSelectionEnabled="true" defaultBodyStyle="Bare" /> <!--detecte el formato automaticamente xcml y Json-->
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        Para examinar el directorio raíz de la aplicación web durante la depuración, establezca el valor siguiente en true.
        Establézcalo en false antes de la implementación para evitar revelar información sobre la carpeta de aplicación web.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>

<connectionStrings><add name="DbSecurityEntities" connectionString="metadata=res://*/SecurityModelEntity.csdl|res://*/SecurityModelEntity.ssdl|res://*/SecurityModelEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\.;initial catalog=DbSecurity;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>
