<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IProductContractService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:53798/ProductsService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProductContractService"
                contract="IProductContractService" name="BasicHttpBinding_IProductContractService" />
        </client>
    </system.serviceModel>
</configuration>