<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IOperacionesMatematicas" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:50473/OperacionesMatematicas.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOperacionesMatematicas"
        contract="proxy.IOperacionesMatematicas" name="BasicHttpBinding_IOperacionesMatematicas" />
    </client>
  </system.serviceModel>
</configuration>